$blue-color: #7e68fa;
$black: #000;
$semi-black: #222;
$white: #fff;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $semi-black;
  margin-bottom: 77px;
}

h2 {
  text-align: center;
  font-family: "Italiana";
  font-weight: 400;
  font-size: 90px;
  line-height: 88px;
  color: $semi-black;
  margin-bottom: 77px;
}

h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin-bottom: 100px;
}

// ---------- NAV BAR SECTION ----------

header {
  nav#nav-top {
    display: flex;
    padding: 20px 0;
    margin-bottom: 40px;

    div#text-logo {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $blue-color;
      margin-right: auto;
    }

    ul {
      display: flex;

      li {
        margin-left: 50px;
        margin-right: 50px;

        a {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: $black;
        }

        &:last-child {
          a {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $blue-color;
          }
        }
      }
    }
  }
}

// ---------- HERO SECTION ----------

main {
  section#hero-section {
    div#container-hero {
      padding-top: 50px;
      padding-bottom: 90px;
      display: flex;
      flex-wrap: wrap;

      div#item-left-hero {
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.2px;
        width: 50%;

        p#description-hero {
          text-align: start;
        }

        div#btn-hero {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 140px;

          a {
            &:first-child {
              padding: 5px 40px;
              border-radius: 50px;
              background-color: $blue-color;
              color: $white;
            }
          }
        }
      }

      div#item-right-hero {
        width: 50%;
        display: flex;

        img {
          width: 469px;
          height: auto;
          margin: auto;
          text-align: center;
        }
      }
    }
  }



  // ---------- ABOUT-ME SECTION ----------

  section#about-me-section {
    background-color: #f05d7b;
    padding-top: 70px;
    padding-bottom: 90px;

    div#container-about-me-section {
      p {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 2px;
        text-align: start;
        color: $white;
      }
    }
  }
}
