*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  color: #222;
}
@media screen and (min-width: 950px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 2px;
    margin-bottom: 77px;
  }
}

h2 {
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #222;
  margin-top: 37px;
  margin-bottom: 37px;
}
@media screen and (min-width: 950px) {
  h2 {
    font-size: 90px;
    line-height: 88px;
    letter-spacing: 2px;
    margin-bottom: 77px;
  }
}

h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 950px) {
  h3 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
  }
}

h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
}
@media screen and (min-width: 950px) {
  h4 {
    font-size: 36px;
    line-height: 46px;
  }
}

h5 {
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
}
@media screen and (min-width: 950px) {
  h5 {
    font-size: 36px;
    line-height: 46px;
  }
}

header nav#nav-top {
  display: flex;
  align-items: center;
  padding: 10px;
}
header nav#nav-top div#text-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7e68fa;
  margin-right: auto;
}
header nav#nav-top ul {
  display: flex;
}
header nav#nav-top ul li#burger-menu {
  display: block;
  margin: inherit;
}
@media screen and (min-width: 950px) {
  header nav#nav-top ul li#burger-menu {
    display: none;
  }
}
header nav#nav-top ul li#burger-menu a div#container-menu-burger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
header nav#nav-top ul li#burger-menu a div#container-menu-burger div.burger-menu-common {
  width: 40px;
  height: 4px;
  margin: 5px;
  background-color: #000;
}
header nav#nav-top ul li {
  display: none;
  margin-left: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 950px) {
  header nav#nav-top ul li {
    display: block;
  }
}
header nav#nav-top ul li a {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
header nav#nav-top ul li:last-child a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #7e68fa;
}
header div#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f05d7b;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
}
header div#modal.open {
  display: block;
}
header div#modal.open .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
header div#modal.open .close-modal:hover {
  background-color: #fff;
  color: #000;
}
header div#modal h2 {
  color: #fff;
}
header div#modal li {
  margin-top: 8px;
  margin-bottom: 8px;
}
header div#modal a {
  font-size: 18px;
  font-weight: 300;
  margin: 0 12px;
  color: #d1d1db;
}
@media screen and (max-width: 950px) {
  header #desktop-menu {
    display: none;
  }
}
header #burger-menu {
  display: none;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 0 auto;
}
main section#hero-section div#container-hero {
  padding-top: 40px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero {
    padding-top: 50px;
    padding-bottom: 90px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
main section#hero-section div#container-hero div#item-left-hero {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero div#item-left-hero {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.2px;
    width: 50%;
  }
}
main section#hero-section div#container-hero div#item-left-hero p#description-hero {
  text-align: start;
  margin-bottom: 20px;
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero div#item-left-hero p#description-hero {
    text-align: start;
  }
}
main section#hero-section div#container-hero div#item-left-hero div#btn-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 550px) {
  main section#hero-section div#container-hero div#item-left-hero div#btn-hero {
    flex-direction: row;
  }
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero div#item-left-hero div#btn-hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
  }
}
main section#hero-section div#container-hero div#item-left-hero div#btn-hero a {
  max-width: 320px;
  text-align: center;
  margin: 10px auto;
}
main section#hero-section div#container-hero div#item-left-hero div#btn-hero a:first-child {
  text-align: center;
  padding: 5px 40px;
  border-radius: 50px;
  background-color: #7e68fa;
  color: #fff;
}
main section#hero-section div#container-hero div#item-right-hero {
  display: flex;
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero div#item-right-hero {
    width: 50%;
  }
}
main section#hero-section div#container-hero div#item-right-hero img {
  width: 269px;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 950px) {
  main section#hero-section div#container-hero div#item-right-hero img {
    width: 469px;
    height: auto;
    margin: auto;
    text-align: center;
  }
}
main section#about-me-section {
  background-color: #f05d7b;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 950px) {
  main section#about-me-section {
    padding-bottom: 90px;
  }
}
main section#about-me-section div#container-about-me-section {
  padding: 20px;
}
main section#about-me-section div#container-about-me-section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: start;
  margin-top: 15px;
  color: #fff;
}
@media screen and (min-width: 950px) {
  main section#about-me-section div#container-about-me-section p {
    font-size: 36px;
    line-height: 46px;
  }
}
main section#skill-section {
  padding-top: 70px;
  padding-bottom: 60px;
}
@media screen and (min-width: 950px) {
  main section#skill-section {
    padding-top: 70px;
    padding-bottom: 90px;
    padding-bottom: inherit;
  }
}
main section#skill-section h3#title-skill-section {
  margin-bottom: 15px;
  color: #222;
}
main section#skill-section div#container-skill-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 950px) {
  main section#skill-section div#container-skill-section {
    flex-direction: row;
    justify-content: center;
  }
}
main section#skill-section div#container-skill-section div.item-skill-common {
  width: 288px;
  height: 180px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  background-color: #f05d7b;
}
@media screen and (min-width: 950px) {
  main section#skill-section div#container-skill-section div.item-skill-common {
    width: 350px;
  }
}
main section#skill-section div#container-skill-section div.item-skill-common h4 {
  text-align: center;
}
main section#skill-section div#container-skill-section div.item-skill-common ul.picto-skill-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
main section#skill-section div#container-skill-section div.item-skill-common ul.picto-skill-list li img {
  width: 50px;
  height: 50px;
}
main section#portfolio-section {
  padding-bottom: 90px;
}
main section#portfolio-section h3#title-projet-portfolio {
  color: #000;
  margin-bottom: 20px;
}
@media screen and (min-width: 950px) {
  main section#portfolio-section {
    padding-top: 70px;
  }
}
main section#portfolio-section div#container-portfolio-section div.projet-portfolio h5.title-projet-portfolio {
  width: 150px;
  height: 50px;
  font-family: "Italiana", sans-serif;
  font-size: 30px;
  line-height: 50px;
  border-radius: 5px 5px 5px 30px;
  background-color: #f05d7b;
  text-align: center;
  margin: 0 auto 30px;
}
@media screen and (min-width: 950px) {
  main section#portfolio-section div#container-portfolio-section div.projet-portfolio h5.title-projet-portfolio {
    width: 350px;
    height: 80px;
    font-size: 60px;
    line-height: 88px;
  }
}
main section#portfolio-section div#container-portfolio-section div.projet-portfolio img {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

footer {
  background-color: #f05d7b;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
}
footer p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 950px) {
  footer p {
    font-size: 56px;
    line-height: 66px;
  }
}
footer a#btn-mail-footer {
  width: 150px;
  height: 52px;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.3px;
  background-color: #f5a0b2;
  color: #fff;
  border-radius: 10px;
  margin: 50px auto;
}
@media screen and (min-width: 950px) {
  footer a#btn-mail-footer {
    width: 440px;
    height: 107px;
    font-size: 53px;
    line-height: 107px;
  }
}/*# sourceMappingURL=style.css.map */