$blue-color: #7e68fa;
$black: #000;
$semi-black: #222;
$white: #fff;
$pink: #f05d7b;
$pink-footer: #F5A0B2;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-limit-size {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  color: $semi-black;

  @media screen and (min-width: 950px) {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 2px;
    margin-bottom: 77px;
  }
}

h2 {
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: $semi-black;
  margin-top: 37px;
  margin-bottom: 37px;

  @media screen and (min-width: 950px) {
    font-size: 90px;
    line-height: 88px;
    letter-spacing: 2px;
    margin-bottom: 77px;
  }
}

h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  @media screen and (min-width: 950px) {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
  }
}

h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;

  @media screen and (min-width: 950px) {
    font-size: 36px;
    line-height: 46px;
  }
}

h5 {
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;

  @media screen and (min-width: 950px) {
    font-size: 36px;
    line-height: 46px;
  }
}

// ---------- NAV BAR SECTION ----------

header {
  nav#nav-top {
    display: flex;
    align-items: center;
    padding: 10px;

    div#text-logo {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $blue-color;
      margin-right: auto;
    }

    ul {
      display: flex;

      li#burger-menu {
        display: block;
        margin: inherit;

        @media screen and (min-width: 950px) {
          display: none;
        }

        a {
          div#container-menu-burger {
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;

            div.burger-menu-common {
              width: 40px;
              height: 4px;
              margin: 5px;
              background-color: $black;
            }
          }
        }
      }

      li {
        display: none;

        @media screen and (min-width: 950px) {
          display: block;
        }

        margin-left: 30px;
        margin-right: 30px;

        a {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: $black;
        }

        &:last-child {
          a {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $blue-color;
          }
        }
      }
    }
  }
}

// ---------- HERO SECTION ----------

main {
  width: 90%;
  margin: 0 auto;
  section#hero-section {
    div#container-hero {
      padding-top: 40px;
      padding-bottom: 90px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 950px) {
        padding-top: 50px;
        padding-bottom: 90px;
        flex-wrap: wrap;
        flex-direction: row;
      }

      div#item-left-hero {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.2px;

        @media screen and (min-width: 950px) {
          font-size: 24px;
          line-height: 26px;
          letter-spacing: 0.2px;
          width: 50%;
        }

        p#description-hero {
          text-align: start;
          margin-bottom: 20px;

          @media screen and (min-width: 950px) {
            text-align: start;
          }
        }

        div#btn-hero {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media screen and (min-width: 550px) {
            flex-direction: row;
          }

          @media screen and (min-width: 950px) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: start;
          }

          a {
            max-width: 320px;
            text-align: center;
            margin: 10px auto;

            &:first-child {
              text-align: center;
              padding: 5px 40px;
              border-radius: 50px;
              background-color: $blue-color;
              color: $white;
            }
          }
        }
      }

      div#item-right-hero {
        display: flex;
        text-align: center;
        margin-top: 20px;

        @media screen and (min-width: 950px) {
          width: 50%;
        }

        img {
          width: 269px;
          height: auto;
          margin: auto;

          @media screen and (min-width: 950px) {
            width: 469px;
            height: auto;
            margin: auto;
            text-align: center;
          }
        }
      }
    }
  }

  // ---------- ABOUT-ME SECTION ----------

  section#about-me-section {
    background-color: $pink;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 950px) {
      padding-bottom: 90px;
    }

    div#container-about-me-section {
      padding: 20px;

      p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
        text-align: start;
        margin-top: 15px;
        color: $white;

        @media screen and (min-width: 950px) {
          font-size: 36px;
          line-height: 46px;
        }
      }
    }
  }

  // ---------- SKILL SECTION ----------

  section#skill-section {
    padding-top: 70px;
    padding-bottom: 60px;

    @media screen and (min-width: 950px) {
      padding-top: 70px;
      padding-bottom: 90px;
      padding-bottom: inherit;
    }

    h3#title-skill-section {
      margin-bottom: 15px;
      color: $semi-black;
    }

    div#container-skill-section {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 950px) {
        flex-direction: row;
        justify-content: center;
      }

      div.item-skill-common {
        width: 288px;
        height: 180px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        background-color: $pink;

        @media screen and (min-width: 950px) {
          width: 350px;
        }

        h4 {
          text-align: center;
        }

        ul.picto-skill-list {
          display: flex;
          justify-content: space-evenly;
          margin-top: 20px;

          li {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  // ---------- PORTFOLIO SECTION ----------

  section#portfolio-section {
    padding-bottom: 90px;

    @media screen and (min-width: 950px) {
      padding-top: 70px;
    }

    p.sub-title {
      font-weight: 500;
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    div#container-portfolio-section {
      div.projet-portfolio {
        h5.title-projet-portfolio {
          width: 150px;
          height: 50px;
          font-family: "Italiana", sans-serif;
          font-size: 30px;
          line-height: 50px;
          border-radius: 5px 5px 5px 30px;
          background-color: $pink;
          text-align: center;
          margin: 0 auto 30px;

          @media screen and (min-width: 950px) {
            width: 350px;
            height: 80px;
            font-size: 60px;
            line-height: 88px;
          }
        }

        img {
          width: 100%;
          max-width: 1200px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

// ---------- FOOTER ----------

footer {
  background-color: $pink;
  height: fit-content;
  padding: 40px;

  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
    text-align: center;
    color: $white;

    @media screen and (min-width: 950px) {
      font-size: 56px;
      line-height: 66px;
    }
  }

  a#btn-mail-footer {
    width: 150px;
    height: 52px;
    display: block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.3px;
    background-color: $pink-footer;
    color: $white;
    border-radius: 10px;
    margin: 50px auto;

    @media screen and (min-width: 950px) {
      width: 440px;
      height: 107px;
      font-size: 53px;
      line-height: 107px;
    }
  }
}
